args==0.1.0
certifi==2022.6.15
charset-normalizer==2.0.6
click==8.0.3
clint==0.5.1
feel-it==1.0.4
filelock==3.8.2
Flask==2.0.3
Flask-Cors==3.0.10
huggingface-hub==0.11.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.0.3
joblib==1.2.0
MarkupSafe==2.1.1
numpy==1.21.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
pip==22.0.2
polyglot==16.7.4
prettytable==2.5.0
pycld2==0.41
PyICU==2.10.2
pyparsing==3.0.9
PyYAML==6.0
regex==2022.10.31
requests==2.27.1
sacremoses==0.0.53
setuptools==65.5.0
six==1.16.0
tokenizers==0.10.3
toml==0.10.2
torch==1.13.0
tqdm==4.64.0
transformers==4.3.3
typing_extensions==4.3.0
urllib3==1.26.13
vaderSentiment==3.3.2
wcwidth==0.2.5
Werkzeug==2.0.2
wheel==0.38.4