certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
feel-it==1.0.4
filelock==3.8.0
Flask==2.2.2
Flask-Cors==3.0.10
icu==0.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
polyglot==16.7.4
pycld2==0.41
PyICU==2.10.2
pyparsing==3.0.9
regex==2022.10.31
requests==2.28.1
sacremoses==0.0.53
six==1.16.0
tokenizers==0.10.3
torch==1.13.0
tqdm==4.64.1
transformers==4.3.3
typing_extensions==4.4.0
urllib3==1.26.12
vaderSentiment==3.3.2
Werkzeug==2.2.2
