.custom-input {
    border-radius: 15px;
    width: 170px;
    height: 32px;
    padding: 15px 40px;
    margin: 4px;
    background-color: aliceblue;
    box-shadow: 0 0 2px lightgrey;
    transition: transform .2s;
    font-size: 15px;
}

.custom-input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px darkgrey;      
}

.custom-input:hover{
    transform: scale(1.1); 
}

#dateRangePickerId{
    position:relative;
    top:5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;    
    width: 80%;
    animation: fadeIn 0.4s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}