.custom-input {
    border-radius: 15px;
    width: 170px;
    height: 34px;
    padding: 15px 40px;
    margin: 4px;
    background-color: aliceblue;
    box-shadow: 0 0 2px lightgrey;
    transition: transform .2s;
    font-size: 15px;
}

.custom-input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px darkgrey;      
}

.custom-input:hover{
    transform: scale(1.1); 
}

#dateRangePickerId{
    background-color: white;
    border-radius: 10px;    
    width: 80%;
}
